html,header,body {
    background: lightblue}

h1 {
    text-align:center;
    padding: 30px;
}
p {
    margin-left: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-right: 25px;
}
img {
    padding: 25px;    
}

#Intro {
    font-weight:bold;
    }